@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
